<article>
     {{!-- <div class='card-comment-wrapper'> --}}
        <div class="card-content-comment"> 

            <p>{{comment}}</p>

            <p>--{{user.username}}, {{formatDate created_on}}</p>

        </div>
    {{!-- </div>  --}}
</article>