<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Another Tech Blog</title>
    <link rel='icon' type='image/png' href='/images/favicon.png' />

    <link
      type='text/css'
      href='/icons/css/fontawesome.min.css'
      rel='stylesheet'
    />
    <link type='text/css' href='/icons/css/solid.min.css' rel='stylesheet' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
  </head>
  <body>
    <header>
      <div class='head-left'>
        <h1>[[ ... Just Another Tech Blog ... ]] </h1>
      </div>
      <div class='head-right'>
        <nav>
          <ul>
            {{#if isLoggedIn}}
              <li><a href='/logout'>Logout</a></li>
              <li><a href='/dashboard'>Dashboard</a></li>
            {{else}}
              <li><a href='login'>Login</a></li>
              <li><a href='/register'>Register</a></li>
            {{/if}}
            <li><a href='/'>Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
    {{{body}}}
    </main>
  </body>
</html>