<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Another Tech Blog</title>
    <link rel='icon' type='image/png' href='/images/favicon.png' />

    <link
      type='text/css'
      href='/icons/css/fontawesome.min.css'
      rel='stylesheet'
    />
    <link type='text/css' href='/icons/css/solid.min.css' rel='stylesheet' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
  </head>
  <body>
    <header>
      <div class='head-left'>
        {{#if pageTitle }}
        <h1>[[ ... {{pageTitle}} ... ]] </h1>
        {{else}}
        <h1>[[ ... Just Another Tech Blog ... ]] </h1>
        {{/if}}
      </div>
      <div class='head-right'>
        <nav>
          <ul>
            {{#if isLoggedIn}}
              <li><button id="btn-logout">Log Out</button></li>
              <li><button id="btn-dashboard">Dashboard</button></li>
            {{else}}
              <li><button id="btn-main-login">Login</button></li>
              <li><button id="btn-main-register">Register</button></li>
            {{/if}}
            <li><button id="btn-home">Home</button></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
    {{{body}}}
    </main>
  </body>
</html>
<script type='module' src='/scripts/main.js'></script>