<div class="centered-form-container">
<section class='centered-form-section'>

  <h1>Register</h1>
  <p id='error-msg'></p>
  <form id='form-login'>
    <label for='username'>Username</label>
    <input
      id='username'
      autocomplete='username'
      type='text'
      placeholder='Enter a Username'
    />
    <label for='password0'>Password</label>
    <input id='password0' type='password' placeholder='Enter a password' />
    <label for='password1'>Confirm Password</label>
    <input id='password1' type='password' placeholder='Confirm password' />

    <button id='btn-login' class='button-submit' type='submit'>
      <i class="fa-solid fa-envelope-open-text fa-sm"></i>
      Register
    </button>
  </form>
</section>
</div>
