<main class='container'>
  <h1>Sign In</h1>
  <p id='error-msg'></p>
  <form id='form-login'>
    <label for='username'>Username</label>
    <input
      id='username'
      autocomplete='username'
      type='text'
      placeholder='Enter a Username'
    />
    <label for='password'>Password</label>
    <input id='password' type='password' placeholder='Enter a password' />

    <label for='confirm'>Confirm Password</label>
    <input id='confirm' type='password' placeholder='Confirm Password' />

    <button id='button-submit' class='button-submit' type='submit'>
      <i class='fa-solid fa-door-open fa-sm'></i>
      Submit
    </button>
  </form>
</main>