:root {
  /* left right margins */
  --lrm: 1em;
  --m-rl: 1em;
  --half-m: .5em;
  --seconday: #13baf2;
  --light: white;
  --dark: black;
}
.alert, .alert-danger{
  color: red;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* font-size: 20px; */
  background-color: #ffffff;
  color: #000000;
  height: 100%;
}

/* header styling */
header, .head-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: var(--seconday);
  border-width: 5px 0px;
  box-shadow: -15px 5px 70px 5px var(--dark); 
  
}
.head-right{
  background-image: linear-gradient(var(--dark), var(--light));
  background-color: var(--dark);
  min-height: 10%;
}

header h1 {
  margin-top: var(--half-m);
  margin-bottom: var(--half-m);
}

/* all li display as row not column */
header li {
  display: inline-block;
  margin-top: var(--half-m);
  margin-bottom: var(--half-m);
}

header a {
  color: var(--light);
  margin: var(--lrm);
}

/* spacing for form container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 75%; */
}

main {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  height: 600px;
  flex-wrap: nowrap;
}

input,
textarea {
  border-radius: 5px;
  line-height: 20px;
  padding: 3px;
}

label {
  font-weight: bold;
}

button {
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  width: 120px;
  background-color: black;
  color: #fdf8f5;
}

.button-submit {
  border-radius: 5px;
  width: 75%;
  align-self: center;
  padding: 3px;
}

.centered-form-section {
  align-items: center;
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.centered-form-head{
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: var(--seconday);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 16px;
}

.centered-form-section form {
  display: flex;
  width: 70%;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* more specific styling for the contact form element */
.centered-form-section form {
  background-color: var(--dark);
  border-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* more specific styling for the contact button */
.centered-form-section button {
  flex-wrap: wrap;
  min-height: max-content;
  height: max-content;
  margin: 1em;
  font-size: medium;
  text-justify: auto;
  align-self: center;
}

/* styling for button hover and focus to swap the black/orange */
.centered-form-section button:hover,
.centered-form-section button:focus {
  background-color: #13baf2;
  color: black;
}

/* style the labels in the contact form */
.centered-form-section label {
  color: white;
  display: flex;
  align-self: flex-start;
  margin-top: 8px;
  width: 100%;
}

/* style the input/text box in the contact form */
.centered-form-section input,
.centered-form-section textarea {
  text-align: center;
  margin: 4px;

  width: 96%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.centered-form-container {
  justify-content: center;
  align-self: center;
  width: 50%;
}

/* give the input a nice faded blue drop shadow */
.centered-form-section input,
.centered-form-section button {
  box-shadow: 4px 4px 10px #13baf2;
}

/* color the sun and moon */
.fa-door-open, .fa-envelope-open-text {
    padding: 1px;
    margin-right: 1em;
    color: white;
  }

.card-header { 
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  background-color: var(--seconday);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px;
  padding: var(--m-rl);
  margin: var(--m-rl);
  margin-bottom: 0;
}

.card-content {
  width: 90%;
  background-color: var(--light);
  word-wrap: normal;
  padding: var(--m-rl);
  margin: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-content-wrapper{
  display: flex;
  background-color: var(--dark);
  border: 1px, solid, var(--seconday);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: var(--m-rl);
  margin-right: var(--m-rl);
  justify-content: center;
}
.card-container{
  width: 75%;
}